@import "./variables.scss";

.tocChapterCard {
  height: 36px;
  scroll-margin-top: 38px;
  box-shadow: inset 1px 1px 13px 17px rgba(2,62,138,0.5);
  color: $color0;
  padding: 3px 0px 3px 12px;
  border: $color1 solid .25rem;
  &:hover {
    background: $color6;
    .chapterNumToc {
      color: $color0;
    }
    .chapterTextToc {
      color: $color0;
    }
  }
}

.chapterNumToc {
  color: $color8;
  font-size: 16px;
  position: absolute;
}

.chapterTextToc {
  color: $color8;
  font-size: 16px;
  position: absolute;
  left: 40px;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.ruleChapterContainer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 16px;
}

.ruleChapterText {
  font-size: 18px;
  color: $color0;
}

.ruleSectionText {
  margin-left: 6px;
  font-size: 18px;
  color: $color0;
  opacity: .3;
}

.chapterList {
  position: relative;
}

.chapterList li span {
  display: block;
}

.spinnerDiv {
  width: 100%;
  height: 100%;
}
