@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #548CA8;
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

nav {
  margin-left: 10%;
}

a.nav-link {
  color: $color8;
  border-color: $color7;
  &.active {
    background-color: $color8 !important;
    color: $color0 !important;
    border-color: $color7;
  }
  &:hover {
    background-color: $color7 !important;
    color: $color1 !important;
    border-color: $color6;
  }
}