@import "./variables.scss";

.overviewPane {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  width: 74%;
  height: 6%;
  top: 23%;
  justify-content: left;
  padding-left: 16px;
  margin-top: 3px;
  background: $color4;
  border: $color2 solid .25rem;
}

.overviewText {
  font-size: 18px;
  opacity: .6;
  color: $color0;
}

#effectiveDate {
  opacity: .3;
  color: $color0;
  font-size: 18px;
  margin-left: 6px;
}

.alas {
  font-size: 18px;
  color: $color0;
}