@import "./variables.scss";
@import "./mixins.scss";

#rulesetInput {
  width: 70%;
  color: $color0;
  background-color: $color8;
}

#rulesetFormButton {
  @include button;
  width: 10%;
}

.inputContainer {
  margin-left: 10%;
  display: flex;
  width: 100%;
}
