@import "./variables.scss";

.ruleListItem {
  background-color: $color7;
  font-size: 16px;
  color: $color0;
}

.ruleContainer {
  border: $color2 solid .25rem;
}

.ruleNumberSpan {
  scroll-margin-top: 16px;
}
