@import "./variables.scss";
@import "./mixins.scss";

#input {
  width: 95%;
}

#cancelFormButton {
  @include button;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1000;
}

.radiosContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 12px;
}

#searchFormButton {
  width: 7%;
  @include button;
}

.searchField {
  display: flex;
  position: relative;
  width: 88%;
  z-index: 0;
}

.inputContainer {
  margin-top: 16px;
  display: flex;
  width: 84%;
}
