@import "./variables.scss";

.radioContainer {
  display: flex;
  margin-left: 12px;
}
  
.radioIcon {
  display: flex;
  align-items: center;
  font-size: 11px;
  opacity: 60%;
}
  
.partialRadioContainer {
  display: flex;
}
  
.exactRadioContainer {
  margin-left: 24px;
  display: flex;
}
  
.radioLabel, .radioIcon {
  margin-left: 4px;
}
  