.radioContainer {
  display: flex;
  margin-left: 12px;
}
  

  
.partialRadioContainer {
  display: flex;
}
  
.exactRadioContainer {
  margin-left: 24px;
  display: flex;
}
  
.radioLabel, .radioIcon {
  margin-left: 4px;
}
  