@import "./variables.scss";
@import "./mixins.scss";

#searchInput {
  color: $color0;
  background-color: $color8;
  width: 95%;
  &:focus {
    box-shadow: none;
  }
}

#cancelFormButton {
  @include button;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1000;
}

.radiosContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 12%;
}

#searchFormButton {
  width: 7%;
  @include button;
}

.searchField {
  display: flex;
  position: relative;
  width: 88%;
  z-index: 0;
}

.inputContainer {
  display: flex;
  width: 84%;
  margin-left: 10%;
}
