@import "./variables.scss";

.tocSectionCard {
  display: inline-block;
  background: $toc-section;
  background: $toc-section-gradient;
  box-shadow: $toc-section-shadow;
  color: $toc-font-color;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  z-index: 9999;
}

// .tocSectionContainer {
//   position: relative;
// }
