// Toc
$sidebar: #00b4d8;
$toc-font-color: #caf0f8;
$toc-section: #023e8a;
$toc-section-shadow: inset 1px 0px 18px 7px rgba(3,4,94,0.57);
$toc-section-gradient: linear-gradient(135deg, rgba(3,4,94,1) 0%, rgba(2,62,138,1) 50%, rgba(3,4,94,1) 100%);
$toc-chapter: #0077b6;
$toc-chapter-shadow: inset 1px 1px 13px 17px rgba(2,62,138,0.5);

