.chapterText {
  font-size: 20px;
}

.chapterNum {
  font-size: 16px;
  position: absolute;
}

.chapterTextToc {
  font-size: 16px;
  position: absolute;
  left: 40px;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.chapterList {
  position: relative;
}

.chapterList li span {
  display: block;
}
