.chapterNum {
  font-size: 16px;
  position: absolute;
}

.chapterText {
  font-size: 16px;
  position: absolute;
  left: 40px;
}

.chapterList {
  position: relative;
}

.chapterList li span {
  display: block;
}
